<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/component.css" />
	<link rel="icon" type="image/x-icon" href="/static/xrsmiles.png">
	<script src="/static/modernizr.custom.js"></script>
</head>
<body>
	<div class="FLOATtxtContainer">
		<p class="FLOATtxt">List of Charities</p>
	</div>
	<div class="CharitiesContainer">
		<img src="/static/xrsmiles.png" height="500" />
		<p class = contactUs><a href="mailto:someone@example.com?Subject=Charity%20Request">Contact us</a> if you want your charity featured here!</p>
		<section class="color-1"> 
			<nav class="cl-effect-14">